<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>
<body>

<div class="logout">Welocme <%- user.username %>   <a href="/logout">注销</a></div>

<div class="env">
  <span>环境：</span>
  <select id="selectEnv" name="selectEnv">
    <option value=0>开发</option>
    <option value=1>测试</option>
    <option value=2>国内正式</option>
    <option value=3>海外正式</option>
  </select>
</div>
<div id="intro">
  <hr>
  <div>username: <input id='btn_uname'  placeholder="用户手机号码或邮箱"></div>
  <hr>
  <div><button id='btn_submit'>获取设备列表信息</button></div>
  <hr>
  <div class="cfCon">
    <div class="cfbox">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cfTable">
        <tbody id="device_list">
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>
<div>cid or bta: <input id='btn_cid'  placeholder="设备cid"></div>
<hr>
<hr>
<div><button id='btn_cid_submit'>获取用户信息</button></div>
<div><button id='btn_cid_remove'>设备解绑</button></div>
<hr>
<div class="cfCon">
  <div class="cfbox">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="cfTable">
      <tbody id="user">
      </tbody>
    </table>
  </div>
</div>
</div>
<script src="../public/javascripts/jquery.min.js"></script>
<script type="text/javascript">

  $('#btn_submit').click(function(){
    var uname = $('#btn_uname').val();
    var env = $('#selectEnv').val();
    console.log(env);
    if( !uname){
      alert("亲亲,填写一下手机号码或者邮箱哦^_^");
    }else{
      uname = encodeURIComponent(uname);
      var get_url =  "/devices?uname=" + uname+"&env="+env;
      $.ajax({
        type: "GET",
        url: get_url,
        success: function (json) {
          console.log("json" );
          console.log(json);
          // 模拟result 有数据和无数据的结果
          var showcontent = "";
          if (json && json.data.devices && json.data.devices.length ) {           // 判断是否为空
              showcontent = "<tr><th>id</th><th>用户id</th>"+
                    "<th>cid</th></tr>";

            var list = json.data.devices;
            for (var i = 0; i < list.length; i++) {
              if( i % 2 == 0){
                showcontent +=  '<tr>'+
                        '<td>'+ i   + '</td>'  +
                        '<td>'+ list[i].uid   + '</td>' +
                        '<td>' + list[i].cid +'<a href="/devices/appcmd/'+ list[i].cid+ '?env='+ env +'"> cid查询</a></td>' +
                        '</tr>' ;
              }else{
                showcontent +=  '<tr>'+
                        '<th>'+ i   + '</th>'  +
                        '<th>'+ list[i].uid   + '</th>' +
                        '<th>' + list[i].cid +'<a href="/devices/appcmd/'+ list[i].cid+ '?env='+ env + '"> cid查询</a></th>' +
                        '</tr>' ;
              }
            }
          }else if(json && (json.errorCode == 40001)){
            showcontent = "该用户不存在..";
          }else {
            showcontent = "没设备,不要拉了..";
          }

          $("#device_list").html(showcontent);
        }
      });
    }
  });

  $('#btn_cid_submit').click(function(){
    var cid = $('#btn_cid').val();
    cid = cid.replace(/(^\s*)|(\s*$)/g, "");
    var env = $('#selectEnv').val();
    if( !cid){
      alert("cid还没填写哦:)");
    }else{
      var get_url =  "/devices/user/" + cid +"?env="+env;
      $.ajax({
        type: "GET",
        url: get_url,
        success: function (json) {
          console.log(json);
          // 模拟result 有数据和无数据的结果
          var showcontent = "";
          if (json && json.user) {           // 判断是否为空
            showcontent = "<tr><th>用户id</th>"+
                    "<th>帐号</th><th>注册时间</tr>";


                showcontent +=  '<tr>'+
                        '<td>'+ json.user.uid   + '</td>' +
                        '<td>' + json.user.username +'</td>' +
                        '<td>' + json.user.regtime +'</td>';


          }else{
            showcontent = "没用户数据了..";
          }

          $("#user").html(showcontent);
        }
      });
    }
  });

  $('#btn_cid_remove').click(function(){
    var cid = $('#btn_cid').val();
    cid = cid.replace(/(^\s*)|(\s*$)/g, "");
    var env = $('#selectEnv').val();
    if( !cid){
      alert("cid or bta 还没填写哦:)");
    }else{
      var url =  "/devices/" + cid+"?env="+env;
      $.ajax({
        type: "DELETE",
        url: url,
        success: function (json) {
          console.log(json);
          // 模拟result 有数据和无数据的结果
          var showcontent = "";
          if (json.errorCode == 0) {
            showcontent = "解绑成功.";
          }else{
            showcontent = "解绑失败.";
          }

          $("#user").html(showcontent);
        }
      });
    }
  });
</script>
</body>
</html>
